* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("https://cdn.imgchest.com/files/d7ogckv9my9.png");
    opacity: .5;
    background-repeat: no-repeat;
}

.container {
    max-width: 1400px;
    flex-wrap: wrap;
    gap: 12px;
    display: flex;
}

.container > * {
    background-color: lightblue;
    border: 2px dashed blue;
    color: blue;
    font-size: 10rem;
    height: 200px;
    padding: 0px;
    flex-grow: 1;
    flex-shrink: 0;
    min-width: 150px;
}

.box1 { flex-basis: 500px; } 
.box2 { flex-basis: 400px;} 
.box3 { flex-basis: 100%; }
.box4 { flex-basis: 253px; } /* ≈259px/1400px */
.box5 { flex-basis: 554px; }   /* ≈559px/1400px */
.box6 { flex-basis: 553px; }   /* ≈559px/1400px */