* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: none;
    opacity: 1;
    font-size: 20px;
    color: #000;
}

img:nth-of-type(1) {
    display: none;
}

/* меню слева */
.container {
    display: grid;

    grid-template-columns:
        minmax(100px, 250px)
        1fr;

    grid-template-rows:
        75px
        auto
        100px
        300px
        auto;

    grid-template-areas:
        "one two"
        "five two"
        "three two"
        "four two"
        "six two";
}

.container > * {
    border: 2px dashed blue;
}

/* GRID AREA */
.box1 { grid-area: one; }
.box5 { grid-area: five; }
.box2 { grid-area: two; }
.box3 { grid-area: three; }
.box4 { grid-area: four; }
.box6 { grid-area: six; }


.kg-menu {
    list-style: none;

    /*горизонтального → вертикальное */
    display: flex;
    flex-direction: column;

    
    background-color: white;
    padding: 25px 0 0 25px;
    font-size: 20px;
    font-weight: 500;
    color: #1a1a1a;
    gap: 20px; 
}

.kg-menu li {
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    
    padding: 8px 0;

    border-bottom: 1px solid #ccc;
}

.kg-menu li:last-child {
    border-bottom: none;
}

.kg-menu .arrow {
    font-size: 12px;
    color: #8c8c8c;
    margin-left: 10px;
}

.kg-menu .more {
    color: #a3a3a3;
}


@media (max-width: 500px) {
    .container {
        grid-template-columns: 100%;
        grid-template-areas:
            "one"
            "five"
            "two"
            "three"
            "four"
            "six";
    }
}
